<div class="main">
    <h2>List of Providers</h2>
    <form method="post" id="form">
    <?
    foreach ($providers as $provider)
        {
            ?>
                <ul>
                    <li><?=$provider?> <input class="provider" name="provider" type="radio" value="<?=$provider?>" <?=$active_provider==$provider ? "checked" : ""; ?> ></li>
                </ul>
            <?
        }
            ?>
            <input type="submit" name="submit" value="Set Provider" />
            </form>
</div>