<div class="right">
    <h2>About</h2>
    <p>This is a small currency converter</p>
</div>
</div>

<div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">© copyright cryptoincomecalc.com</div>

</body>
</html>
