<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/misc/css/bootstrap.min.css" rel="stylesheet">
    <script src="/misc/js/main.js"></script>
    <style>
        * {
            box-sizing: border-box;
        }
        .menu {
            float:left;
            width:20%;
            text-align:center;
        }
        .converted {
            padding:25px;
            text-align:center;
            color: blue;
            font-weight: bolder;
        }
        .menu a {
            background-color:#e5e5e5;
            padding:8px;
            margin-top:7px;
            display:block;
            width:100%;
            color:black;
        }
        .main {
            float:left;
            width:60%;
            padding:0 20px;
        }
        .right {
            background-color:#e5e5e5;
            float:left;
            width:20%;
            padding:15px;
            margin-top:7px;
            text-align:center;
        }

        @media only screen and (max-width:620px) {
            /* For mobile phones: */
            .menu, .main, .right {
                width:100%;
            }
        }
    </style>
</head>
<body style="font-family:Verdana;color:#aaaaaa;">

<div style="background-color:#e5e5e5;padding:15px;text-align:center;">
    <a href="/"><h1>Currency Converter</h1></a>
</div>

<div style="overflow:auto">
    <div class="menu">
        <a href="/providers">Providers</a>
    </div>
