<div class="main">
        <h2>Convert numbers</h2>

        <input type="text" name="amount" id="amount" amount="amount" placeholder="enter amount to convert">
        <select id="from" name="from">
            <?
            foreach ($currencies["currencies"] as $currency) {
               echo "<option value=\"".$currency['iso']."\">".$currency['iso']."</option>";
            }?>

        </select>
        <select id="to" name="to">
            <? foreach ($currencies["currencies"] as $currency) {
                echo "<option value=\"".$currency['iso']."\">".$currency['iso']."</option>";
            }?>
        </select>
        <input type="button" onclick="convert();" name="convert" value="Convert">



        <div id="converted" name="converted" class="converted"></div>

</div>

